@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow-100: #f8efd0;
  --color-yellow-200: #d9c890;
  --color-yellow-300: #c7b36e;
  --color-yellow-400: #bda657;
}

.no-reset * {
  all: unset;
  all: revert;
}


.new-post {
  animation: jump 3s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}