@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow-100: #f8efd0;
  --color-yellow-200: #d9c890;
  --color-yellow-300: #c7b36e;
  --color-yellow-400: #bda657;
}

.no-reset * {
  all: unset;
  all: revert;
}
