@import "tailwindcss";

@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #1a1a1a;
  }

  .dark {
    --background: #1a1a1a;
    --foreground: #f9f9f9;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html,
body {
  @apply bg-background text-foreground;
  font-family: "Poppins", sans-serif;
}

.text-muted {
  @apply text-gray-500 dark:text-gray-400;
}
