@import "tailwindcss";
@import "@adn-ui/styles";

@plugin "@tailwindcss/typography";

@import "./table.css" layer(components);

@custom-variant dark (.dark &);

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  button:not(:disabled),
  [role="button"]:not(:disabled),
  link:not(:disabled),
  [role="link"]:not(:disabled) {
    cursor: pointer;
  }

  .breadcrumb {
    @apply flex flex-wrap items-center gap-2 text-sm;
  }

  .breadcrumb__item {
    @apply text-muted-foreground;
  }

  .breadcrumb__item:not(:last-child)::after {
    @apply text-muted-foreground ms-2 inline-block;
    content: ">";
  }

  .breadcrumb__item:last-child {
    @apply text-primary font-semibold;
  }

  .button {
    @apply rounded-full px-4 text-sm font-semibold;
  }

  .button--sm {
    @apply text-xs;
  }

  .navbar__content {
    @apply flex-1;
  }

  .menu__item {
    @apply shadow-none;
  }

  .tabs__tab {
    @apply flex-1;
  }

  .input::placeholder {
    @apply text-muted-foreground text-sm;
  }

  .link {
    @apply cursor-pointer;

    & svg {
      @apply size-5;
    }
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}
